body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefaf6;
    color: #222;
}

.navbar {
    background-color: #5c6e87;
    padding: 3px;
}

#header-img {
    width: 50px;
    height: 50px;
}
.nav-link {
    color: #fff;
    margin: 0 10px 0 10px;
}

#inicio {
    margin-top: 40px;
}

#inicio h2 {
   font-size: 26px;
}

.nav-link:hover, .nav-link:focus, .active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    transition: all 0.3s ;
    outline: none;
    color: #fff !important;
}

.contacto {
    padding: 0.5em;
    text-align: left;
}

#iconos {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover{
    text-decoration: underline;
}

.accordion-button:focus {
    box-shadow: none;
    background: transparent;
}

.iconos-container {
    margin: 80px;
}

.productos a {
    text-decoration: none;
    color: #222;
}

.productos h2 {
    font-size: 24px;
    font-weight: bold;
}

.producto img {
    max-width: 300px;
    height: 280px;
    object-fit: cover;
    border-bottom: solid 1px #ccc;
}   

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 14px;
    margin: 5px 0;
    height: 40px;
    overflow: hidden;
}

.producto {
    background-color: #fff;
    padding: 1rem;
    margin: 3rem;
    width: 320px; 
    height: auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
}

.precio {
    font-weight: bold;
}

.form-select {
    width: 50%;
}

.producto:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.faq {
    text-align: start;
}

.faq h2 {
    padding: 10px;
    border: 2px #222 solid;
    border-radius: 10px;
    font-size: 24px ;
}

.wpp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wpp img {
    width: 40px
}

footer {
    background-color: #5c6e87;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
